pandas
mlflow==2.2.2
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
Flask
flask-cors
  # it may not be necessary but try if distutils is required
setuptools==49.6.0  # if you are trying to avoid the distutils issue
